<a href="https://colab.research.google.com/github/YogenderKushwaha/iNeuronAssignment/blob/main/Mock_Test_1_Data_Science_PPT_iNeuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 17.
Write a function that takes a list of numbers as input and returns a new list containing only the even numbers from the input list. Use list comprehension to solve this problem.

Example:

Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Output: [2, 4, 6, 8, 10]

In [3]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = [i for i in l1 if i%2 ==0 ]
new_list

[2, 4, 6, 8, 10]

# 18.
Implement a decorator function called ‘timer’ that measures the execution time of a function. The ‘timer’ decorator should print the time taken by the decorated function to execute. Use the ‘time’ module in Python to calculate the execution time.

Example:

import time

@timer
def my_function():
    # Function code goes here
    time.sleep(2)

my_function()

Output:
"Execution time: 2.00123 seconds"

In [36]:
import datetime

def timer(func):
  def wrapper_method(*args):
    start_time = datetime.datetime.now()
    result = func(*args)
    end_time = datetime.datetime.now()
    time_taken = end_time - start_time
    time_taken = time_taken.total_seconds()
    print("Time taken by function is: {:.9f}".format(time_taken))
    return result
  return wrapper_method

In [39]:
@timer
def evennum(l):
  new_list = [i for i in l1 if i%2 ==0 ]
  return new_list

In [40]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,12,13,15,10,230,234,234453,343,5432,23,546,325,32,5,23,523]
evennum(l1)

Time taken by function is: 0.000007000

[2, 4, 6, 8, 10, 12, 10, 230, 234, 5432, 546, 32]

# 19.
Write a function called ‘calculate_mean’ that takes a list of numbers as input and returns the mean (average) of the numbers. The function should calculate the mean using the sum of the numbers divided by the total count.

Example:

def calculate_mean(numbers):
    total = sum(numbers)
    count = len(numbers)
    mean = total / count
    return mean

data = [10, 15, 20, 25, 30]
mean_value = calculate_mean(data)
print("Mean:", mean_value)

Output:
Mean: 20.0

In [57]:
def calculate_mean(l):
  sum = 0
  for i in l:
    sum = sum + i
  return round(sum/len(l),2)

l = [10, 15, 20, 25, 30]
calculate_mean(l)

20.0

# 20.
Write a function called ‘perform_hypothesis_test’ that takes two lists of numbers as input, representing two samples. The function should perform a two-sample t-test and return the p-value. Use the ‘scipy.stats’ module in Python to calculate the t-test and p-value.

Example:

from scipy import stats

def perform_hypothesis_test(sample1, sample2):
    t_statistic, p_value = stats.ttest_ind(sample1, sample2)
    return p_value

sample1 = [5, 10, 15, 20, 25]
sample2 = [10, 20, 30, 40, 50]
p_value = perform_hypothesis_test(sample1, sample2)
print("P-value:", p_value)

Output:
P-value: 0.1064706396450037
8 points

In [58]:
from scipy.stats import ttest_ind

def perform_hypothesis_test(sample1,sample2):
  t_statistic, p_value = ttest_ind(sample1, sample2)
  return t_statistic, p_value

In [66]:
sample1 = [5, 10, 15, 20, 25]
sample2 = [10, 20, 30, 40, 50]

value = perform_hypothesis_test(sample1, sample2)
print("P-value:", round(value[1],4), " \nT-test:", round(value[0],4))

P-value: 0.0943
T-test: -1.8974