1.	Write a Python program to print "Hello Python"?
2.	Write a Python program to do arithmetical operations addition and division.?
3.	Write a Python program to find the area of a triangle?
4.	Write a Python program to swap two variables?
5.	Write a Python program to generate a random number?

In [1]:
#1
print("Hello Python")

Hello Python

In [5]:
#2
a = 2
b = 3
c = a+b 
d = a/b
print(c,",",d)

5 , 0.6666666666666666

In [6]:
#3
l = 3
h =2
t = 0.5*l*h
print(t)

3.0

In [8]:
#4
a = 3
b =4
c=a
a =b
b=c
print(a,b)

4 3

In [11]:
#5
import random as r
r.randint(0,100)

53